scikit-learn
pandas
numpy
matplotlib
sweetviz
seaborn
scipy
jupyter
widgetsnbextension
jupyterlab-widgets
ipython-genutils
ipywidgets
Markdown
QtPy
qtconsole
retrying
pyzmq
simplejson
typing-extensions
webencodings